body {
  background-color: rgb(242, 241, 241);
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Indie Flower, cursive;
}

.title {
  font-size: 50px;
  margin-bottom: 13px;
  color: rgb(0, 174, 255);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.texto-tarefa {
  background: none;
  border: none;
  outline: none;
  width: 380px;
  border-bottom: 2px solid rgb(54, 191, 255);
}

.criar-tarefa {
  border: none;
  outline: none;
  width: 100px;
  height: 26px;
  background-color: rgb(54, 191, 255);
  color: aliceblue;
  font-family: Indie Flower, cursive;;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 16px;
  padding-top: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
}

.criar-tarefa:hover {
  cursor: pointer;
  background-color: rgb(24, 172, 240);
  box-shadow: 0 0 8px 0 rgba(54, 191, 255, 0.3) inset, 0 0 10px 4px rgba(54, 191, 255, 0.3);
}

.criar-tarefa:active {
  transition: 25ms ease;
  opacity: 50%;
}

.main {
  width: 730px;
  margin: 23px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'buttons tasks';
  justify-items: center;
}

.btn-container {
  grid-area: buttons;
  padding: 30px;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.2);
}

.btn-container button + button {
  margin-top: 17px;
}

.btn {
  display: block;
  border: none;
  outline: none;
  width: 150px;
  height: 32px;
  color: rgb(55, 55, 55);
  font-family: Indie Flower, cursive;;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 7px;
  padding-top: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
}

.btn:active {
  transition: 25ms ease;
  opacity: 50%;
}

.salvar-tarefas {
  background-color: rgb(132, 255, 188);
}

.salvar-tarefas:hover {
  cursor: pointer;
  background-color: rgb(12, 209, 101);
  box-shadow: 0 0 8px 0 rgba(12, 209, 101, 0.3) inset, 0 0 10px 4px rgba(12, 209, 101, 0.3);
}

.apaga-tudo, .remover-finalizados, .remover-selecionado {
  background-color: rgb(255, 146, 148);
}

.apaga-tudo:hover, .remover-finalizados:hover, .remover-selecionado:hover {
  cursor: pointer;
  background-color: rgb(240, 120, 122);
  box-shadow: 0 0 8px 0 rgba(255, 118, 121, 0.3) inset, 0 0 10px 4px rgba(255, 118, 121, 0.3);
}

.mover-cima, .mover-baixo {
  background-color: rgb(93, 204, 255);
}

.mover-cima:hover, .mover-baixo:hover {
  cursor: pointer;
  background-color: rgb(86, 186, 252);
  box-shadow: 0 0 8px 0 rgba(86, 186, 252, 0.3) inset, 0 0 10px 4px rgba(86, 186, 252, 0.3);
}

.tarefas {
  width: 500px;
  margin: 0 0 0 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.subtitle {
  margin-left: 180px;
  margin-top: 10px;
  font-size: 20px;
}

.lista-tarefas {
  display: inline-block;
  margin: 0;
}

.line-color {
  width: 450px;
  height: 24px;
  /* background-color: rgba(94, 204, 255, 0.4); */
  background-image: linear-gradient(to right, rgba(94, 204, 255, 0.6), transparent);
  border-radius: 10% 100% 100% 10% / 20% 100% 100% 20%;
}

.completed {
  text-decoration: line-through solid black;
  opacity: 50%;
}
